## Data Preprocessing

#### 1. Import the Libraries

In [1]:
import pandas as pd    # used for import the dataset
import numpy as np     # Used for import the dataset

#### 2. Import the Dataset

In [2]:
dataset= pd.read_csv('Data/Data.csv')
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

#### 3. Create dependent & Independent Variables

In [3]:
x= dataset.iloc[:, :-1].values         # independent variable 
y = dataset.iloc[:, 3].values          # dependent variables

#### 4. Handle Missing data

In [4]:
# count the number of missing values in each column
dataset.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [5]:
# Drop the missing value
dataset.dropna(inplace=True)   # but it's not good option

In [5]:
# Instead of Drop can use 'mean', 'median' or 'most_frequent'
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer = imputer.fit(x[:, 1:3])
x[:, 1:3] = imputer.transform(x[:, 1:3])

#### 5. Encoding the Categoricial Data

In [6]:
# OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
ct = make_column_transformer( (OneHotEncoder(categories='auto'), [0]), remainder="passthrough")
x=ct.fit_transform(x)

In [8]:
x

array([[1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 40.0, 63777.77777777778],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
       [1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 50.0, 83000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0]], dtype=object)

In [7]:
# Label Encoder
from sklearn.preprocessing import LabelEncoder
labelencoder_X= LabelEncoder()
y = labelencoder_X.fit_transform(y)

#### 6. Split the Dataset for Training and Testing

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state=0)

#### 7. Feature Scaling

In [13]:
# Standard Scaler (-3 to +3) & Normalization ( 0, 1)
from sklearn.preprocessing import StandardScaler
sc_X= StandardScaler()
x_train[:, 3:] = sc_X.fit_transform(x_train[:, 3:])
x_test[:, 3:] = sc_X.fit_transform (x_test[:, 3:])